@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC');

body {
  margin: 0;
  font-family: 'Roboto'!important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.story-container {
  width: 100%;
  margin-top: 10px;
}

.story-content {
  width: 80%;
  margin: 0 auto;
  text-align: left;
}

.select-container {
  width: 100%;
  margin-bottom: 20px;
  margin-left: 20px;
}
.select-container [class*='ValueContainer'] {
  padding-bottom: 5px !important;
  padding-top: 5px !important;
  padding-left: 10px !important;
}
.select {
  height: 56px !important;
}

.select-container [class*='control'] {
  height: 56px !important;
}
